.showcaseSection {
  max-width: 540px;
}

.slideShow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    background: rgba(30, 30, 47, 0.8);
  }
  
  .slideShowImage {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
  }
  