html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: linear-gradient(to bottom, #1e1e2f, #161622);
  color: #fff;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin: 40px 0;
  text-transform: uppercase;
}

h2 {
  font-size: 2.75rem;
  font-weight: 500;
  text-align: center;
  margin: 20px 0;
  text-decoration: underline;
  text-decoration-color: #ff6666;
  text-decoration-thickness: 3px;
  text-decoration-style: wavy;
  line-height: 1.5;
  text-transform: uppercase;
}